.input {
    width: 412px;
    height: 48px;

    background: #FFFFFF;
    /* Wireframe/Light Grey 2 */

    border: 1px solid #DFDFDF;
    border-radius: 4px;

}

@media (max-width: 1024px) {
    .input {
        width: 335px;
    }
}