.select {
    box-shadow: 0px 0px 1px rgba(12, 26, 75, 0.24), 0px 3px 8px -1px rgba(50, 50, 71, 0.05);
    visibility: hidden;
    top: 1.9rem;
    opacity: 0;
    transition: all .1s ease-out;
}

.selectActive {
    visibility: visible;
    top: 1.3rem;
    opacity: 1;
}