.CodeBlock {
    // box-shadow: 0px 0px 1px rgba(12, 26, 75, 0.24), 0px 3px 8px -1px rgba(50, 50, 71, 0.05);

    /* width */
    ::-webkit-scrollbar {
        height: 8px;
        position: absolute;
        top: -100px;
    }
    
    /* Track */
    ::-webkit-scrollbar-track {
        background-color: #FFF;
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #C2C2C2; 
        border-radius: 50px;
    }
}