@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  /* Proxima */
  @font-face {
    font-family: proxima;
    src: url("/fonts/proxima/ProximaNovaA-Regular.woff") format("woff"),
      url("/fonts/proxima/ProximaNovaA-Regular.woff2") format("woff2");
    font-weight: normal;
  }

  @font-face {
    font-family: proxima;
    src: url("/fonts/proxima/ProximaNovaA-Semibold.woff") format("woff"),
      url("/fonts/proxima/ProximaNovaA-Semibold.woff2") format("woff2");
    font-weight: 600;
  }

  @font-face {
    font-family: proxima;
    src: url("/fonts/proxima/ProximaNovaA-Bold.woff") format("woff"),
      url("/fonts/proxima/ProximaNovaA-Bold.woff2") format("woff2");
    font-weight: bold;
  }

  /* TTFirsNeue - This should do for now, other weights like thin can be added when required */
  @font-face {
    font-family: ttfirs;
    src: url("/fonts/ttfirs/TTFirsNeue/normal_normal_normal.woff") format("woff"),
      url("/fonts/ttfirs/TTFirsNeue/normal_normal_normal.woff2") format("woff2");
    font-weight: normal;
  }

  @font-face {
    font-family: ttfirs;
    src: url("/fonts/ttfirs/TTFirsNeueMedium/font.woff") format("woff"),
      url("/fonts/ttfirs/TTFirsNeueMedium/font.woff2") format("woff2");
    font-weight: 500;
  }

  @font-face {
    font-family: ttfirs;
    src: url("/fonts/ttfirs/TTFirsNeueDemiBold/font.woff") format("woff"),
      url("/fonts/ttfirs/TTFirsNeueDemiBold/font.woff2") format("woff2");
    font-weight: 600;
  }

  @font-face {
    font-family: ttfirs;
    src: url("/fonts/ttfirs/TTFirsNeue/normal_normal_bold.woff") format("woff"),
      url("/fonts/ttfirs/TTFirsNeue/normal_normal_bold.woff2") format("woff2");
    font-weight: 700;
  }

  @font-face {
    font-family: ttfirs;
    src: url("/fonts/ttfirs/TTFirsNeueExtraBold/font.woff") format("woff"),
      url("/fonts/ttfirs/TTFirsNeueExtraBold/font.woff2") format("woff2");
    font-weight: 800;
  }

  @font-face {
    font-family: ttfirs;
    src: url("/fonts/ttfirs/TTFirsNeueBlack/font.woff") format("woff"),
      url("/fonts/ttfirs/TTFirsNeueBlack/font.woff2") format("woff2");
    font-weight: 900;
  }

  /* Sohne */
  @font-face {
    font-family: sohne;
    font-style: normal;
    font-weight: 400;
    font-stretch: normal;
    src: url("/fonts/sohne/Sohne-Buch.woff2") format("woff2"),
      url("/fonts/sohne/Sohne-Buch.woff") format("woff");
  }

  @font-face {
    font-family: sohne;
    font-style: normal;
    font-weight: 500;
    font-stretch: normal;
    src: url("/fonts/sohne/Sohne-Kraftig.woff2") format("woff2"),
      url("/fonts/sohne/Sohne-Kraftig.woff") format("woff");
  }

  @font-face {
    font-family: sohne;
    font-style: normal;
    font-weight: 600;
    font-stretch: normal;
    src: url("/fonts/sohne/Sohne-Halbfett.woff2") format("woff2"),
      url("/fonts/sohne/Sohne-Halbfett.woff") format("woff");
  }

  @font-face {
    font-family: sohne;
    font-style: normal;
    font-weight: 700;
    font-stretch: normal;
    src: url("/fonts/sohne/Sohne-Dreiviertelfett.woff2") format("woff2"),
      url("/fonts/sohne/Sohne-Dreiviertelfett.woff") format("woff");
  }

  /* Source code pro */
  @font-face {
    font-family: "Source Code Pro";
    font-style: normal;
    font-weight: 400;
    font-stretch: normal;
    src: url("/fonts/source-code/SourceCodePro-Regular.ttf") format("ttf");
  }

  @font-face {
    font-family: "Source Code Pro";
    font-style: normal;
    font-weight: 600;
    font-stretch: normal;
    src: url("/fonts/source-code/SourceCodePro-SemiBold.ttf") format("ttf");
  }
}